<img id="banner" src="/assets/banner.png" class="img-responsive">
<div class="row">
 <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1" ></div>
  <div id="form_container" class="col-lg-8 col-md-8 col-sm-10 col-xs-10" >

	<center><h1>Formulario de pedido</h1></center>

	<%= render 'form', reserva: @reserva %>

	</div>
</div>
